<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taskdistributinghall">

    <meta-data

        android:name="com.google.android.gms.ads.AD_MANAGER_APP"

        android:value="true" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <activity android:name=".Activity.MissionDetailPage"/>
        <activity android:name=".Resume_page"></activity>

        <activity android:name=".AcceptedTaskDetailPage"></activity>
        <activity android:name=".Activity.PublishedTaskDetail.PublishedTaskDetailPage" />
        <activity android:name=".Mission_detail_page"/>
        <activity android:name=".Activity.AddMissionPage" />
        <activity android:name=".Fragment.PersonalCenter.ModifyPersonalInfo" />
        <activity android:name=".Fragment.PersonalCenter.AboutPage" />
        <activity android:name=".Activity.CollectInformation" />
        <activity android:name=".Activity.MainPage.MainActivity" />
        <activity android:name=".Activity.ChatPage.Chat"/>
        <activity android:name=".Activity.Login">



            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.SignUp"
            android:parentActivityName=".Activity.Login" />
    </application>

</manifest>